$mainColor: #6c68f0;
$fontDarkColor: #333333;
$fontLightColor: #ffffff;
$secondColor: #ebebed;
$thirdColor: #f7deb4;

:export {
  $mainColor: #6c68f0;
  $fontDarkColor: #333333;
  $fontLightColor: #ffffff;
  $secondColor: #ebebed;
  $thirdColor: #f7deb4;
}
